<article class="app-link-three app-link-three-light-gray">
  <section class="app-link-three-navigation app-link-three-white">
    <app-navigation></app-navigation>
  </section>

  <section class="app-link-three-body app-link-three-light-gray">
    <section class="app-link-three-body-left-panel app-link-three-body-white">
      <link-three-preview></link-three-preview>
    </section>

    <section class="app-link-three-body-right-panel app-link-three-body-white">
      <router-outlet></router-outlet>
    </section>
  </section>
</article>
