<article class="app-navigation">
  <img class="app-navigation-logo"
       src="assets/images/logo.svg"
       alt="app-navigation-logo"/>

  <nav class="app-navigation-header">
    <a class="lt-txt lt-txt-m-large app-navigation-header-link"
       routerLink="/secure/link-three/links"
       [routerLinkActive]="['app-navigation-header-link-active']">Links</a>
    <a class="lt-txt lt-txt-m-large app-navigation-header-link"
       routerLink="/secure/link-three/profile"
       [routerLinkActive]="['app-navigation-header-link-active']">Profile Details</a>
  </nav>

  <button (click)="logOut()">Logout</button>
  <button class="lt-link">Preview</button>
</article>
